.landingPage__cover {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding-top: 84px; */
}

/* layout1 css */

.landingPage__content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right top, #ffffff, #f7f6fd, #eeeefb, #e3e6fa, #d8dff8, #d0d9f7, #c9d3f6, #c1cdf5, #bec6f3, #bbbef1, #bab6ee, #baaeeb);
}

.landingPage__content__left {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.landingPage__content__left h1 {
    font-size: 50px;
    font-weight: 600;
    letter-spacing: -1.4px;
    line-height: 60px;
    margin: 0;
}

.landingPage__content__left p {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.landingPage__content__right {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landingPage__content__left-button {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 20px;
}

.landingPage__content__left-button>a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
}

.landingPage__content__left-button>a:hover {
    color: #000;
    text-decoration: underline;
}

/* layout2 css */

.layout2__cover {
    /* background-image: linear-gradient(to right top, #1f2026, #22242f, #242838, #252d41, #26314b, #26324e, #263250, #263353, #26304f, #262c4c, #262948, #262644); */
    background-color: #0d1117;
    width: 100%;
    min-height: 100vh;
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #e6edf3;
    word-wrap: break-word;
    /* margin-top: 70px; */
    /* padding-top: 10em; */
}

.layout2__coverinside {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.layout2__intro {
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid rgb(33, 38, 45);
}

.layout2__intro>p {
    opacity: 0.7;
}

.layout2__intro>h1 {
    margin: 10px 0;
}

.layout2__info {}

.layout2__info__block {
    display: flex;
    flex-direction: column;
    justify-content: left;
    /* align-items: center; */
    border-bottom: 1px solid rgb(33, 38, 45);
}

.layout2__info__block>h3 {
    margin: 10px 0;
    font-size: 23px;
}

.layout2__info__block>span {
    opacity: 0.7;
    margin-bottom: 20px;
}

.layout2__info__block>label {
    /* margin: 10px 0; */
}

.form {
    background-color: #fff;
    display: block;
    padding: 2rem;
    max-width: 400px;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.form-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-align: center;
    color: #000;
}

.input-container {
    position: relative;
    /* padding: 12px 24px; */
}

.input-container input,
.form button {
    outline: none;
    border: 1px solid #e5e7eb;
    margin: 8px 0;
}

.input-container input {
    background-color: #fff;
    padding: 1rem;
    padding-right: 3rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 300px;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.input-container span {
    display: grid;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    place-content: center;
}

.input-container span svg {
    color: #9CA3AF;
    width: 1rem;
    height: 1rem;
}

.submit {
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: #4F46E5;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    width: 100%;
    border-radius: 0.5rem;
    text-transform: uppercase;
}

.signup-link {
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
}

.signup-link a {
    text-decoration: underline;
}